*
{box-sizing: border-box;
margin: 0 auto;}
/*this will resize the content box according to the chosen WxH taking hte boarder, margin and padding size so it will maintain the specified numbers*/

html 
    {font-size: 16px;
    height: 100%;
    aligh-content: center;}

body 
    {margin: auto;
    max-width: 900px;
    height: auto;
    overflow: auto;}

main h4
    {font-family:"Trebushet";
    font-size:18px;
    text-transform: lowercase;
    letter-spacing: 2px;}

.header 
    {margin: auto 28%;
    width: 100%;
    height: 240px;}

.navbar 
    {height:250px;
    margin: auto;
    width: 100%;}   

div.menu
    {float: left;
    margin: auto;
    width 100%;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    height: 250px;
    padding-top: 90px}

#menufloat
{float: left;}

a:link
    {font-family:"Bookman";
    color: darkgrey;
    text-decoration: none;
    text-align:center; }

a:visited
    {color: darkgrey;
    text-decoration: none;
    text-align:center;}
a:hover
    {color: darkgrey;
    text-decoration: none;
    text-align:center;}
main
    {height: auto;
    width: 100%;
    clear: both;}

#project
    {margin: 0 auto;
    width: inherit;
    padding: 2rem;
    //*border: solid black 1px;*/
    border-radius: 10px;
    overflow: auto;
    text-align: center;}

.projects
    {float: left;
    overflow:auto;
    display: block;
    width: 33%;}

.project_images
    {display: block;
    width: 15rem;}

/*.center
    {margin:auto;
    width:auto;}
    overflow: auto;}
*/
.row1
    {margin:auto;
    width:auto;
    overflow: auto;
    height: auto;}

.row2
    {margin:auto;
    width:auto;
    overflow: auto;
    height: auto;
    vertical-align: center;
    }

#leap
    {padding: 7% 0 }
footer
{
    clear: both;
    position: relative;
   margin: auto;
   width: inherit;

}

#social_media
    {clear: both;
    margin: 0 auto;
    width: 900px;
    padding: 3rem 2rem 2rem; }

div.social_media
    {float: left;
    width: 25%;
    padding: 0 55px;}

.social_media img
 {width: 70px;
    height: auto;}


.rights
    {padding: 25px 0;
    clear: both;
    height: 3rem;}


/**ABOUT PAGE*/
figure
    {float: left;
    border-radius:30px;}

aside.about
    {max-width: 900px;
padding: 4rem;
margin 4rem;}

/*PROJECT PAGES*/
#leap_text
{overflow:auto;
width: 40%;
float: right;}

#leap-logo
{
    position: relative;
    right: 0;
}

.flaot
{
    float: left;
    align-content: top;
}

/*PERSONAL PROJECTS*/

.drawing
{display: block;
        float: left;
        width: 70%;
}

