*
{box-sizing: border-box;
margin: 0 auto;}
/*this will resize the content box according to the chosen WxH taking hte boarder, margin and padding size so it will maintain the specified numbers*/

html 
    {font-size: 16px;
    height: 100%;
    aligh-content: center;}

body 
    {margin: auto;
    max-width: 1000px;
    height: auto;
    overflow: auto;}

main h4
    {font-family:"Trebushet";
    font-size:18px;
    text-transform: lowercase;
    letter-spacing: 2px;}

.header 
    {width: 43%;
    height: inherit;
    margin: 0 auto;
}

.navbar 
    {height:250px;
    margin: auto;
    width: 100%;}   

div.menu
    {float: left;
    margin: auto;
    width 100%;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    height: 250px;
    padding-top: 90px}

#menufloat
{float: left;}

a:link
    {font-family:"Bookman";
    color: black;
    text-decoration: none;
    text-align:center; }

a:visited
    {color: black;
    text-decoration: none;
    text-align:center;}
a:hover
    {color: darkgrey;
    text-decoration: none;
    text-align:center;}
main
    {height: auto;
    width: 100%;
    clear: both;}

#project
    {margin: 0 auto;
    width: inherit;
    padding: 2rem;
    //*border: solid black 1px;*/
    border-radius: 10px;
    overflow: auto;
    text-align: center;}

.projects
    {float: left;
    overflow:auto;
    display: block;
    width: 33%;}

.projects:hover
    {border: solid darkgrey 1px;
    border-radius: 10px;}

.project_images
    {display: block;
    width: 15rem;}


.row1
    {margin:auto;
    width:auto;
    overflow: auto;
    height: auto;}

.row2
    {margin:auto;
    width:auto;
    overflow: auto;
    height: auto;
    vertical-align: center;
    }

#leap
    {padding: 7% 0 ;}

#art-port
    {margin: 4% 0 ;}


footer
{
    clear: both;
    position: relative;
   margin: auto;
   width: inherit;

}

#social_media
    {clear: both;
    margin: 0 auto;
    width: 1000px;
    padding: 3rem 2rem 2rem; }

div.social_media
    {float: left;
    width: 25%;
    padding: 0 55px;}

.social_media img
 {width: 70px;
    height: auto;}


.rights
    {padding: 25px 0;
    clear: both;
    height: 3rem;}


/**ABOUT PAGE*/
figure
    {float: left;
    border-radius:30px;
    padding: 4rem;
    }

aside.about
    {max-width: 1000px;
padding: 2rem;
margin 4rem;}

#about
{line-height: 2rem;}


/*PROJECT PAGES*/


#npc_text
{overflow:auto;
width: 40%;
float: right;
position: relative;
top: 50px;
padding: 2rem;
border: solid darkgrey 1px;
border-radius: 10px;}

#zanshin_text
{overflow:auto;
width: 40%;
float: right;
padding: 2rem;
border: solid darkgrey 1px;
border-radius: 10px;}

#paintbar_text
{overflow:auto;
width: 40%;
float: right;
padding: 2rem;
border: solid darkgrey 1px;
border-radius: 10px;}

#recreamundo_text
{overflow:auto;
width: 40%;
float: right;
padding: 2rem;
border: solid darkgrey 1px;
border-radius: 10px;}

#leap_text
{overflow:auto;
width: 40%;
float: right;
padding: 2rem;
border: solid darkgrey 1px;
border-radius: 10px;}

.button_proj
    {
        display: inline-block;
        float: left;
        margin: 0 auto;
        padding: 2rem;
        border: solid darkgrey 1px;
    border-radius: 10px;}






/*PERSONAL PROJECTS*/
#drawings
{
max-width: 650px;
overflow: auto;
margin: auto;
padding: 1rem;

}
.drawing
{
   width: auto;
    float: left;

}
.drawing
    {float: left;
        width: 50%;
    }


#links
{
    clear: both;
    width: 900px;
    margin: 0 auto;
    overflow: auto;
}
#center-logo
{width: 100%;
margin: auto;}
.button
    {
        display: inline-block;
        float: left;
        margin: 0 auto;
        padding: 2rem;}
.button:hover
{
    border: solid darkgrey 1px;
    border-radius: 10px;
}
        
